.page-wrapper .page-body-wrapper .page-sidebar {
    width: 255px;
    position: fixed;
    /* background: #2f3c4e; */
    background: #413e73;
   
    top: 0;
    height: calc(100vh);
    z-index: 1000;
    -webkit-transition: .3s;
    transition: .3s;
}

hr {
    background-color: 3px solid #f6f7fb !important;
}

h5{
    color: #00a99d;
}

.sc-kDDrLX .gduOHQ{
    display: none !important;
}